<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		body { text-align: center; }
		#cnv-1 { margin: auto; }
	</style>
</head>
<body>

		
	<canvas id="cnv-1"></canvas>
	<div>
		<a href= "<%=prevLink%>"><button type="button">Previous</button></a>
		<a href= "<%=nextLink%>"><button type="button">Next</button></a>
		<button id="saveButton" type="button">Save</button></a>
	</div>
	<script type="text/javascript" src = "../imgCanvas.js" > </script>
	<script> img.src = "<%=imgSrc %>"; </script>
	<script type="text/javascript" src = "../jquery-1.12.2.min.js" > </script>
	<script type="text/javascript" src = "../custom.js"> </script>
</body>
</html>